body {
  background: linear-gradient(135deg, #000 0, #8b0000 100);
  background-size: 400;
  animation: bloodyMove 12s ease infinite;
}
@keyframes bloodyMove {
  0 0% 50%;}
  50 100% 50%;}
  100 0% 50%;}
}
